
# Remove .example from this file name and configure for your own backend. 

terraform {
  backend "remote" {
    organization = "zbmowrey-aws"
    workspaces {
      prefix = "zbmowrey-com-gilfoyle-"
    }
  }
  required_providers {
    aws    = ">= 2.67"
    random = ">= 2"
  }
  required_version = ">= 1.0.3"
}
